.art-pointer-events-none {
  pointer-events: none
}

.art-absolute {
  position: absolute
}

.art-relative {
  position: relative
}

.art-inset-y-0 {
  top: 0px;
  bottom: 0px
}

.art-right-0 {
  right: 0px
}

.art-col-start-1 {
  grid-column-start: 1
}

.art-row-start-1 {
  grid-row-start: 1
}

.art--mb-px {
  margin-bottom: -1px
}

.art-mb-1 {
  margin-bottom: 0.25rem
}

.art-mb-2 {
  margin-bottom: 0.5rem
}

.art-mb-3 {
  margin-bottom: 0.75rem
}

.art-mb-4 {
  margin-bottom: 1rem
}

.art-mb-6 {
  margin-bottom: 1.5rem
}

.art-ml-4 {
  margin-left: 1rem
}

.art-mr-1 {
  margin-right: 0.25rem
}

.art-mt-1 {
  margin-top: 0.25rem
}

.art-mt-2 {
  margin-top: 0.5rem
}

.art-mt-4 {
  margin-top: 1rem
}

.art-block {
  display: block
}

.art-flex {
  display: flex
}

.art-inline-flex {
  display: inline-flex
}

.art-grid {
  display: grid
}

.art-hidden {
  display: none
}

.art-h-1\/5 {
  height: 20%
}

.art-h-12 {
  height: 3rem
}

.art-h-4 {
  height: 1rem
}

.art-h-6 {
  height: 1.5rem
}

.art-min-h-\[150px\] {
  min-height: 150px
}

.art-w-1\/2 {
  width: 50%
}

.art-w-1\/3 {
  width: 33.333333%
}

.art-w-1\/4 {
  width: 25%
}

.art-w-1\/5 {
  width: 20%
}

.art-w-4 {
  width: 1rem
}

.art-w-40 {
  width: 10rem
}

.art-w-6 {
  width: 1.5rem
}

.art-w-80 {
  width: 20rem
}

.art-w-96 {
  width: 24rem
}

.art-w-full {
  width: 100%
}

.art-cursor-pointer {
  cursor: pointer
}

.art-list-inside {
  list-style-position: inside
}

.art-list-disc {
  list-style-type: disc
}

.art-appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none
}

.art-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.art-flex-nowrap {
  flex-wrap: nowrap
}

.art-items-start {
  align-items: flex-start
}

.art-items-center {
  align-items: center
}

.art-justify-between {
  justify-content: space-between
}

.art-gap-1 {
  gap: 0.25rem
}

.art-gap-2 {
  gap: 0.5rem
}

.art-gap-4 {
  gap: 1rem
}

.art-gap-6 {
  gap: 1.5rem
}

.art-space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.art-space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.art-space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
}

.art-space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.art-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.art-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.art-space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}

.art-overflow-hidden {
  overflow: hidden
}

.art-whitespace-nowrap {
  white-space: nowrap
}

.art-rounded {
  border-radius: 0.25rem
}

.art-rounded-md {
  border-radius: 0.375rem
}

.art-border {
  border-width: 1px
}

.art-border-b {
  border-bottom-width: 1px
}

.art-border-b-2 {
  border-bottom-width: 2px
}

.art-border-t {
  border-top-width: 1px
}

.art-border-solid {
  border-style: solid
}

.art-border-none {
  border-style: none
}

.art-border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1))
}

.art-border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity, 1))
}

.art-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1))
}

.art-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1))
}

.art-border-indigo-500 {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity, 1))
}

.art-border-sky-500 {
  --tw-border-opacity: 1;
  border-color: rgb(14 165 233 / var(--tw-border-opacity, 1))
}

.art-border-transparent {
  border-color: transparent
}

.art-bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.art-bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1))
}

.art-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.art-bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1))
}

.art-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.art-fill-current {
  fill: currentColor
}

.art-p-2 {
  padding: 0.5rem
}

.art-p-4 {
  padding: 1rem
}

.art-p-5 {
  padding: 1.25rem
}

.art-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.art-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.art-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.art-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.art-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.art-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.art-pl-3 {
  padding-left: 0.75rem
}

.art-pr-2 {
  padding-right: 0.5rem
}

.art-pr-8 {
  padding-right: 2rem
}

.art-text-left {
  text-align: left
}

.art-font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.art-text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.art-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.art-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.art-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.art-text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.art-font-bold {
  font-weight: 700
}

.art-font-medium {
  font-weight: 500
}

.art-font-semibold {
  font-weight: 600
}

.art-uppercase {
  text-transform: uppercase
}

.art-tracking-wide {
  letter-spacing: 0.025em
}

.art-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}

.art-text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1))
}

.art-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}

.art-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}

.art-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1))
}

.art-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1))
}

.art-text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity, 1))
}

.art-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.art-no-underline {
  text-decoration-line: none
}

.art-accent-blue-500 {
  accent-color: #3b82f6
}

.art-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.art-outline {
  outline-style: solid
}

.art-outline-1 {
  outline-width: 1px
}

.art--outline-offset-1 {
  outline-offset: -1px
}

.art-outline-gray-300 {
  outline-color: #d1d5db
}

.art-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.art-duration-200 {
  transition-duration: 200ms
}

.hover\:art-bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1))
}

.hover\:art-text-gray-800:hover {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1))
}