.art-fixed {
  position: fixed
}

.art-relative {
  position: relative
}

.art-inset-0 {
  inset: 0px
}

.art-z-50 {
  z-index: 50
}

.art-flex {
  display: flex
}

.art-h-5 {
  height: 1.25rem
}

.art-h-full {
  height: 100%
}

.art-w-11\/12 {
  width: 91.666667%
}

.art-w-5 {
  width: 1.25rem
}

.art-w-full {
  width: 100%
}

.art-max-w-lg {
  max-width: 32rem
}

.art-max-w-none {
  max-width: none
}

.art-flex-1 {
  flex: 1 1 0%
}

.art-flex-col {
  flex-direction: column
}

.art-items-center {
  align-items: center
}

.art-justify-end {
  justify-content: flex-end
}

.art-justify-center {
  justify-content: center
}

.art-justify-between {
  justify-content: space-between
}

.art-gap-2 {
  gap: 0.5rem
}

.art-overflow-y-auto {
  overflow-y: auto
}

.art-rounded {
  border-radius: 0.25rem
}

.art-rounded-lg {
  border-radius: 0.5rem
}

.art-rounded-none {
  border-radius: 0px
}

.art-border-b {
  border-bottom-width: 1px
}

.art-border-t {
  border-top-width: 1px
}

.art-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1))
}

.art-bg-black\/50 {
  background-color: rgb(0 0 0 / 0.5)
}

.art-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.art-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.art-p-1 {
  padding: 0.25rem
}

.art-p-4 {
  padding: 1rem
}

.art-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.art-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.art-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.art-font-semibold {
  font-weight: 600
}

.art-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1))
}

.art-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:art-bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}


/*************************************************************
DIMENSIONS
 ***********************************************************/

#controls {
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 100;
}

#controls {
  position: absolute;
  bottom: 16px;
  left: 16px;
  max-width: unset;
  transform: unset;
  pointer-events: auto;
  z-index: 100;
}

.dot {
  display: none;
}

.glass {
  background: rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(8px) contrast(0.89) saturate(1.27);
  -webkit-backdrop-filter: blur(8px) contrast(0.89) saturate(1.27);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.dim {
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 1em;
  font-weight: 700;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
  --min-hotspot-opacity: 0;
}

@media only screen and (max-width: 800px) {
  .dim {
    font-size: 3vw;
  }
}

.dimensionLineContainer {
  pointer-events: none;
  display: block;
}

.dimensionLine {
  stroke: #16a5e6;
  stroke-width: 2;
  stroke-dasharray: 2;
}

.hide {
  display: none;
}

:not(:defined) > * {
  display: none;
}
